{% extends 'quizLayout.html' %}
{% block title %}
    KJ VLABS-Experiment 4 Quiz
{% endblock %}
{% block heading %}
    Experiment 4 Quiz
{% endblock %}
{% block body %}
    <div class="attendance-list" style="width: auto;">
        <form action="quiz4.html" method="post">
            <p>1. What does PSK stand for?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q1" value="a" id="q1a">
                    <label for="q1a">a. Phase Shifting Key</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="b" id="q1b">
                    <label for="q1b">b. Phase Shift Keying</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="c" id="q1c">
                    <label for="q1c">c. Phase Signal Key</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="d" id="q1d">
                    <label for="q1d">d. Phase Switching Key</label>
                </div>
            </div>

            <br><br>

            <p>2. In PSK, the information is encoded in the phase of the carrier signal. What is the typical carrier used in PSK modulation?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q2" value="a" id="q2a">
                    <label for="q2a">a. Sine wave</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="b" id="q2b">
                    <label for="q2b">b. Square wave</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="c" id="q2c">
                    <label for="q2c">c. Triangular wave</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="d" id="q2d">
                    <label for="q2d">d. Sawtooth wave</label>
                </div>
            </div>

            <br><br>

            <p>3. In binary PSK (BPSK), how many phase shifts are used to encode the information?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q3" value="a" id="q3a">
                    <label for="q3a">a. 1</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="b" id="q3b">
                    <label for="q3b">b. 2</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="c" id="q3c">
                    <label for="q3c">c. 3</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="d" id="q3d">
                    <label for="q3d">d. 4</label>
                </div>
            </div>

            <br><br>

            <p>4. What is the advantage of using BPSK over simple on-off keying (OOK)?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q4" value="a" id="q4a">
                    <label for="q4a">a. BPSK allows higher data rates</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="b" id="q4b">
                    <label for="q4b">b. BPSK provides better noise immunity</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="c" id="q4c">
                    <label for="q4c">c. BPSK requires less bandwidth</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="d" id="q4d">
                    <label for="q4d">d. BPSK is easier to implement</label>
                </div>
            </div>

            <br><br>

            <p>5. What is the minimum required bandwidth for BPSK?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q5" value="a" id="q5a">
                    <label for="q5a">a. Equal to the bit rate</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="b" id="q5b">
                    <label for="q5b">b. Double the bit rate</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="c" id="q5c">
                    <label for="q5c">c. Half the bit rate</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="d" id="q5d">
                    <label for="q5d">d. Four times the bit rate</label>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-md btn-block">Submit</button>
                    <button type="reset" class="btn btn-md btn-block">Reset</button>
                </div>
            </div>
        </form>
        <br>
        <p>
            <b>Your score: {{ score }} / 5</b>
        </p>
    </div>
{% endblock %}