{% extends 'quizLayout.html' %}
{% block title %}
    KJ VLABS-Experiment 2 Quiz
{% endblock %}
{% block heading %}
    Experiment 2 Quiz
{% endblock %}
{% block body %}
    <div class="attendance-list" style="width: auto;">
        <form action="quiz2.html" method="post">
            <p>1. In ______ Carrier is transmitted for a 1-bit, and nothing is transmitted for 0-bit, this is analogous to flashing light communication.</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q1" value="a" id="q1a">
                    <label for="q1a">a. M-ary digital modulation</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="b" id="q1b">
                    <label for="q1b">b. Phase shift keying</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="c" id="q1c">
                    <label for="q1c">c. 8-point phase shift keying</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="d" id="q1d">
                    <label for="q1d">d. On-off keying</label>
                </div>
            </div>

            <br><br>

            <p>2. If the bit rate for an ASK signal is 400 bps, the baud rate is:</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q2" value="a" id="q2a">
                    <label for="q2a">a. 1600 baud</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="b" id="q2b">
                    <label for="q2b">b. 800 baud</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="c" id="q2c">
                    <label for="q2c">c. 400 baud</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="d" id="q2d">
                    <label for="q2d">d. 200 baud</label>
                </div>
            </div>

            <br><br>

            <p>3. Which of the following modulation schemes gives the maximum probability of error?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q3" value="a" id="q3a">
                    <label for="q3a">a. DBPSK</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="b" id="q3b">
                    <label for="q3b">b. PSK</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="c" id="q3c">
                    <label for="q3c">c. BFSK</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="d" id="q3d">
                    <label for="q3d">d. ASK</label>
                </div>
            </div>

            <br><br>

            <p>4. ASK stands for:</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q4" value="a" id="q4a">
                    <label for="q4a">a. Amplitude Shuffle Keying</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="b" id="q4b">
                    <label for="q4b">b. Amplification Shift Keying</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="c" id="q4c">
                    <label for="q4c">c. Altitude Shuffle Keying</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="d" id="q4d">
                    <label for="q4d">d. Amplitude Shift Keying</label>
                </div>
            </div>

            <br><br>

            <p>5. Which among the following is also called ON-OFF keying?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q5" value="a" id="q5a">
                    <label for="q5a">a. FSK</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="b" id="q5b">
                    <label for="q5b">b. PSK</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="c" id="q5c">
                    <label for="q5c">c. ASK</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="d" id="q5d">
                    <label for="q5d">d. QPSK</label>
                </div>
            </div>

            <br><br>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-md btn-block">Submit</button>
                    <button type="reset" class="btn btn-md btn-block">Reset</button>
                </div>
            </div>
        </form>
        <br>
        <p>
            <b>Your score: {{ score }} / 5</b>
        </p>
    </div>
{% endblock %}