{% extends 'quizLayout.html' %}
{% block title %}
    KJ VLABS-Experiment 9 Quiz
{% endblock %}
{% block heading %}
    Experiment 9 Quiz
{% endblock %}
{% block body %}
    <div class="attendance-list" style="width: auto;">
        <form action="quiz9.html" method="post">
            <p>1. What is Shannon-Fano coding?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q1" value="a" id="q1a">
                    <label for="q1a">a. A data compression algorithm</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="b" id="q1b">
                    <label for="q1b">b. An error detection technique</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="c" id="q1c">
                    <label for="q1c">c. A modulation scheme</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="d" id="q1d">
                    <label for="q1d">d. A cryptographic algorithm</label>
                </div>
            </div>

            <br><br>

            <p>2. Who developed the Shannon-Fano coding technique?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q2" value="a" id="q2a">
                    <label for="q2a">a. Claude Shannon</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="b" id="q2b">
                    <label for="q2b">b. Robert Fano</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="c" id="q2c">
                    <label for="q2c">c. Alan Turing</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="d" id="q2d">
                    <label for="q2d">d. John von Neumann</label>
                </div>
            </div>

            <br><br>

            <p>3. What is the main goal of Shannon-Fano coding?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q3" value="a" id="q3a">
                    <label for="q3a">a. To minimize the average code length</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="b" id="q3b">
                    <label for="q3b">b. To maximize the data transmission rate</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="c" id="q3c">
                    <label for="q3c">c. To ensure error-free communication</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="d" id="q3d">
                    <label for="q3d">d. To achieve lossless compression</label>
                </div>
            </div>

            <br><br>

            <p>4. How does Shannon-Fano coding assign codes to symbols?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q4" value="a" id="q4a">
                    <label for="q4a">a. By assigning shorter codes to more frequently occurring symbols</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="b" id="q4b">
                    <label for="q4b">b. By assigning shorter codes to less frequently occurring symbols</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="c" id="q4c">
                    <label for="q4c">c. By assigning equal-length codes to all symbols</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="d" id="q4d">
                    <label for="q4d">d. By assigning codes randomly to symbols</label>
                </div>
            </div>

            <br><br>

            <p>5. What is the disadvantage of Shannon-Fano coding compared to Huffman coding?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q5" value="a" id="q5a">
                    <label for="q5a">a. Shannon-Fano coding is slower to encode and decode</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="b" id="q5b">
                    <label for="q5b">b. Shannon-Fano coding does not guarantee prefix-free codes</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="c" id="q5c">
                    <label for="q5c">c. Shannon-Fano coding requires a larger codebook</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="d" id="q5d">
                    <label for="q5d">d. Shannon-Fano coding has lower compression efficiency</label>
                </div>
            </div>


            <br><br>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-md btn-block">Submit</button>
                    <button type="reset" class="btn btn-md btn-block">Reset</button>
                </div>
            </div>
        </form>
        <br>
        <p>
            <b>Your score: {{ score }} / 5</b>
        </p>
    </div>
{% endblock %}