{% extends 'quizLayout.html' %}
{% block title %}
    KJ VLABS-Experiment 3 Quiz
{% endblock %}
{% block heading %}
    Experiment 3 Quiz
{% endblock %}
{% block body %}
    <div class="attendance-list" style="width: auto;">
        <form action="quiz3.html" method="post">
            <p>1. Frequency Shift Keying is used mostly in</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q1" value="a" id="q1a">
                    <label for="q1a">a. Radio transmission</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="b" id="q1b">
                    <label for="q1b">b. Telegraphy</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="c" id="q1c">
                    <label for="q1c">c. Telephony</label>
                </div>
                <div>
                    <input type="radio" name="q1" value="d" id="q1d">
                    <label for="q1d">d. Optical transmission</label>
                </div>
            </div>

            <br><br>

            <p>2. How many frequencies are involved in FSK signals?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q2" value="a" id="q2a">
                    <label for="q2a">a. One</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="b" id="q2b">
                    <label for="q2b">b. Two</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="c" id="q2c">
                    <label for="q2c">c. More than One</label>
                </div>
                <div>
                    <input type="radio" name="q2" value="d" id="q2d">
                    <label for="q2d">d. More than Two</label>
                </div>
            </div>

            <br><br>

            <p>3. What gets shifted in the signals involved in Frequency Shift Keying?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q3" value="a" id="q3a">
                    <label for="q3a">a. Amplitude</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="b" id="q3b">
                    <label for="q3b">b. Frequency</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="c" id="q3c">
                    <label for="q3c">c. Phase</label>
                </div>
                <div>
                    <input type="radio" name="q3" value="d" id="q3d">
                    <label for="q3d">d. Option a & b</label>
                </div>
            </div>

            <br><br>

            <p>4. FSK carrier’s amplitude & phase are ______________?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q4" value="a" id="q4a">
                    <label for="q4a">a. Varying</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="b" id="q4b">
                    <label for="q4b">b. Constant</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="c" id="q4c">
                    <label for="q4c">c. Dynamic</label>
                </div>
                <div>
                    <input type="radio" name="q4" value="d" id="q4d">
                    <label for="q4d">d. Varied according to input</label>
                </div>
            </div>

            <br><br>

            <p>5. In BFSKs __________ represent high frequency of carrier signals?</p>

            <div style="display: flex; flex-direction: column; align-items: flex-start;">
                <div>
                    <input type="radio" name="q5" value="a" id="q5a">
                    <label for="q5a">a. Binary 1</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="b" id="q5b">
                    <label for="q5b">b. Binary 0</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="c" id="q5c">
                    <label for="q5c">c. Neither a nor b</label>
                </div>
                <div>
                    <input type="radio" name="q5" value="d" id="q5d">
                    <label for="q5d">d. Option a & b</label>
                </div>
            </div>


            <br><br>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-md btn-block">Submit</button>
                    <button type="reset" class="btn btn-md btn-block">Reset</button>
                </div>
            </div>
        </form>
        <br>
        <p>
            <b>Your score: {{ score }} / 5</b>
        </p>
    </div>
{% endblock %}